body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f9fff6;
    color: #515151;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #cbd0c8 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

.main {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0779e4;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

.section {
    margin-bottom: 30px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}

.icon {
    vertical-align: middle;
    display: inline:block;
    margin-right: 5px;
}
