:root {
    --text: #070404;
    --background: #faf6f7;
    --primary: #a76772;
    --secondary: #c8b7a0;
    --accent: #b9af86;
    --page: #f2f2f2;
    --text-dark: #fbf9f9;
    --background-dark: #0a0507;
    --primary-dark: #985762;
    --secondary-dark: #5e4d36;
    --accent-dark: #786e45;
    --page-dark: #2f2f2f;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--page);
    color: var(--text);
}

body.dark{
    color: var(--text-dark);
    background-color: var(--page-dark);
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: var(--background);
    color: var(--text);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--primary) 3px solid;
}

header.dark {
    background: var(--background-dark);
    color: var(--text-dark);
    border-bottom: var(--text-dark);
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

.main {
    background-color: var(--background);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main.dark {
    background-color: var(--background-dark);
}

h2 {
    border-bottom-style: groove;
    border-bottom-color: var(--primary);
}

h2.dark {
    border-bottom-color: var(--primary-dark);
}

h3 {
    text-decoration: underline var(--secondary)
}

h3.dark {
    text-decoration: underline var(--secondary-dark)
}

.contact-info {
    text-align: left;
    display: inline-block;
}

.contact-info p {
    margin: 5px 0;
}

.center {
    text-align: center;
}

.section {
    margin-bottom: 30px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--background);
    color: var(--text);
}

footer.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.icon {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    color: var(--primary)
}

.icon.dark {
    color: var(--primary-dark);
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
